/PruebaiOS.xcodeproj/xcuserdata/nisum.xcuserdatad
/PruebaiOS.xcodeproj/xcshareddata
/PruebaiOS.xcodeproj/xcuserdata/ale.xcuserdatad/xcdebugger
/PruebaiOS.xcodeproj/xcuserdata/ale.xcuserdatad/xcschemes/xcschememanagement.plist
/PruebaiOS.xcodeproj/project.xcworkspace/xcuserdata
